<div class="jumbotron row text-center">
  <h1>Cat Corp</h1>
  <div class="col-xs-5 col-xs-offset-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor pretium odio sed dignissim. Maecenas congue est eget sem eleifend, nec facilisis felis lacinia. Sed ipsum felis, tincidunt vitae nunc nec, pharetra pulvinar ante. In hendrerit pellentesque placerat.</p>
  </div>
  <div class="col-xs-5 col-xs-offset-1">
    <p>Sed viverra justo dui, quis pellentesque augue interdum tempus. Sed viverra, arcu porta tincidunt lacinia, urna purus suscipit magna, vel vestibulum nisi massa a sapien. Duis in turpis sed felis volutpat scelerisque. Ut luctus vestibulum tincidunt. Donec imperdiet aliquet neque.</p>
  </div>
</div>

<div class="row text-center">
  <h1>Meet the TEAM!!</h1>
</div>

<div class="row text-center">
  <div class="col-xs-3">
    <img src="http://placekitten.com/300/300" class="img-circle img-responsive">
    <h2>Gizmo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor pretium odio sed dignissim. Maecenas congue est eget sem eleifend, nec facilisis felis lacinia. Sed ipsum felis, tincidunt vitae nunc nec, pharetra pulvinar ante. In hendrerit pellentesque placerat.</p>
  </div>
  <div class="col-xs-3">
    <img src="http://placekitten.com/301/301" class="img-circle img-responsive">
    <h2>Breakfast</h2>
    <p>Sed viverra justo dui, quis pellentesque augue interdum tempus. Sed viverra, arcu porta tincidunt lacinia, urna purus suscipit magna, vel vestibulum nisi massa a sapien. Duis in turpis sed felis volutpat scelerisque. Ut luctus vestibulum tincidunt. Donec imperdiet aliquet neque.</p>
  </div>
  <div class="col-xs-3">
    <img src="http://placekitten.com/302/302" class="img-circle img-responsive">
    <h2>Earl</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor pretium odio sed dignissim. Maecenas congue est eget sem eleifend, nec facilisis felis lacinia. Sed ipsum felis, tincidunt vitae nunc nec, pharetra pulvinar ante. In hendrerit pellentesque placerat.</p>
  </div>
  <div class="col-xs-3">
    <img src="http://placekitten.com/299/299" class="img-circle img-responsive">
    <h2>Ajax</h2>
    <p>Sed viverra justo dui, quis pellentesque augue interdum tempus. Sed viverra, arcu porta tincidunt lacinia, urna purus suscipit magna, vel vestibulum nisi massa a sapien. Duis in turpis sed felis volutpat scelerisque. Ut luctus vestibulum tincidunt. Donec imperdiet aliquet neque.</p>
  </div>
</div>