<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <h1>Contact Me</h1>
    <div id="form-messages">

    </div>
    <form id="contact-form">
      <div class="form-group row">
        <div class="contact-form" id="contact-form-name">
          <input
             type="text"
             class="form-control"
             placeholder="Name">
        </div>

        <br>
        <div class="contact-form" id="contact-form-email">
          <input
             type="text"
             class="form-control"
             placeholder="Email">
        </div>
      </div>
      <hr>

      <div class="form-group row">
        <div class="contact-form" id="contact-form-subject">
          <input
             type="text"
             class="form-control"
             placeholder="Subject">
        </div>

        <br>
        <div class="contact-form" id="contact-form-message">
          <textarea
             rows="8"
             cols="80"
             class="form-control"
             placeholder="Message"></textarea>
        </div>
      </div>

      <p style="text-align:left"><input type="submit" class="btn btn-primary"
        id="contact-btn" value="Send &rarr;"></p>
    </form>
  </div>

  <div class="col-xs-5" style="padding-left: 50px">
    <h1>Our Staff</h1>
    <div class="row">
      <table class="table table-striped table-bordered" id="staff-table">
        <tr>
          <th class="col-xs-6">Name</th>
          <th class="col-xs-6">Phone</th>
        </tr>
        <tr>
          <td class="col-xs-6">John Doe</td>
          <td class="col-xs-6">(123) 456-7890</td>
        </tr>
        <tr>
          <td class="col-xs-6">Mary Sue</td>
          <td class="col-xs-6">(987) 654-3210</td>
        </tr>
      </table>
    </div>
  </div>
</div>