<div class="row text-center">
  <div id="wheeeee" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="wheeeee" data-slide-to="0" class="active">
      <% (1..3).each do |index| %>
        <li data-target="wheeeee" data-slide-to="<%= index %>">
      <% end %>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="http://placekitten.com/1223/301">
        <div class="carousel-caption">
          LOOK AT THIS KITTEN
        </div>
      </div>
      <div class="item">
        <img src="http://placekitten.com/1223/302">
        <div class="carousel-caption">
          THIS KITTEN IS SO COO
        </div>
      </div>
      <div class="item">
        <img src="http://placekitten.com/1223/305">
        <div class="carousel-caption">
          AND IF YOU GIVE US MONIES NOW
        </div>
      </div>
      <div class="item">
        <img src="http://placekitten.com/1223/304">
        <div class="carousel-caption">
          THEN YOU CAN BE COO TOO
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#wheeeee" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#wheeeee" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-3 affix-top" id="home-sidebar">
    <ul class="nav nav-stacked">
      <li><a href="#pellentesque">Pellentesque</a></li>
      <li><a href="#lobortis">Lobortis</a></li>
      <li><a href="#sit">Sit</a></li>
      <li><a href="#magna">Magna</a></li>
    </ul>
  </div>
  <div class="col-xs-9" id="home-lorem-text">
    <h3 id="pellentesque">
      Pellentesque sit amet nisi eget nunc malesuada laoreet et nec ante.
    </h3>
    <p>Pellentesque porta leo sed mauris vestibulum, ac <a id="consectetur" data-toggle="tooltip" href="#">consectetur</a> neque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
      <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

        Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
      <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>

    <h3 id="lobortis">
       Lobortis magna nunc, sit amet posuere odio condimentum varius.
    </h3>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>
    <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>

    <h3 id="sit">Sit amet nisi eget nunc malesuada laoreet et nec ante.</h3>
    <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
    <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>
    <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>

    <h3 id="magna">Magna nunc, sit amet posuere odio condimentum varius.</h3>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>
    <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>

    <p>Pellentesque porta leo sed mauris vestibulum, ac consecteturneque commodo. Sed aliquam lacus eget dolor cursus blandit.

      Tum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et est vestibulum, venenatis mi a, laoreet nibh. Phasellus id nisi varius, mattis leo at, molestie nisi. Suspendisse ultricies sem eu vestibulum bibendum. Maecenas euismod tortor vel dui vehicula convallis. In fermentum lacinia risus quis egestas.</p>
    <p>Proin condimentum tortor eget vulputate placerat. Duis condimentum, elit nec eleifend tristique, quam massa rutrum odio, ac fringilla sapien mi id orci. Vestibulum aliquam lacus et dictum volutpat. Donec posuere lorem velit, eu iaculis libero varius nec. Maecenas consectetur ipsum porttitor magna convallis semper.</p>
  </div>
</div>