<form action="<%= secrets_url %>" method="post" id="secret-form">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" id="authenticity_token">

  <input type="hidden" name="secret[recipient_id]" value="<%= params[:id] %>">

  <label for="secret">Secret</label>
  <input type="text" name="secret[title]" id="secret">

  <p><input type="submit" value="Post Secret"></p>
</form>